* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --warm-grey: #8f8f8f;
    --pinkish-grey: #cccccc;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

.App {
    width: 100%;
    display: flex;
}

.Main { 
  width: 100%;
}
